.what-are-we-doing__container {
background-color: ffffff;
}

.advantage__item {
    margin-bottom: 0;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
  @media screen and (min-width: 768px) {
    &:nth-child(2n+1){
      margin-right: 30px;
    } 
    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-bottom: 0;
    &:nth-last-child(n+3) {
    margin-right: 30px;
  }
  }
}


.advantage__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    width: 354px;
  
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.advantage__list {
@media screen and (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  display: flex;
  margin-bottom: 94px;
}
}

.advantage-invisible {
  display: none;
  justify-content: space-between;
  margin-left: 8px;
}

.advantage__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h-color);
  margin-bottom: 10px;
   text-align: center;
   @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
 
   }
}
.advantage__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--paragrapf-color);
  @media screen and (min-width: 768px) {
    width: 354px;
     }
     @media screen and (min-width: 1200px) {
      width: 354px;
      width: 270px;
       }
}