.customers__item {
  width: 210px;
  height: 92px;
}
.customers__item:not(:last-child) {
  //   margin-left: 30px;
  margin-bottom: 30px;
}

.customers__link {
  width: 210px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: var(--transition);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}
// .customers__link:not(:last-child) {
// margin-bottom: 30px;
// }

.customers__icon {
  fill: currentColor;
}

.customers {
  background-color: #ffffff;
}

.customers__container {
  width: 480px;
  height: 100%;
}

.cuctomers__list {
  @media screen and (max-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 50%;
  }
  

  //  width: 50%;
}

.customers__title {
  color: var(--h-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
