.customers__item {
  width: 100%;
  height: 92px;
  margin-bottom: 30px;
  &:nth-last-child(-n+2) {
margin-bottom: 0;
 }

 @media screen and (min-width: 320px) {
      width: 45%;
    //   margin-left: ;
  }
  @media screen and (min-width: 480px) {
      width: 210px;

  }
  @media screen and (min-width: 768px) {
      width: 226px;
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
      width: 170px ;
    margin-bottom: 0;
  }
}

.customers__item + .customers__item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.customers__link {
  min-width:  100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: var(--transition);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.customers__icon {
  fill: currentColor;
}

.customers {
  background-color: #ffffff;
}

.customers__container {
  width: 100%;
  height: 100%;
  
  @media screen and (min-width: 480px) {
    height: 519px;
    width: 100%;
    @media screen and (min-width: 768px) {
      height: 397px;
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      height: 370px;
      width: 1200px;
    }
    width: 100%;
  }
}

.cuctomers__list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
//   height: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.customers__title {
  color: var(--h-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
