.footer-link__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
   @media screen and (min-width: 1200px) {
   text-align:left;
  }
 
}

.footer-link__list {
  display: flex;
  justify-content: flex-start;
}

.footer-link__icon {
  fill: #ffffff;
}

.footer-link__link {
  color: var(--h-color);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--transition);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}

.footer-link__item + .footer-link__item {
  margin-left: 10px;
}

.footer-address__tittle {


  height: 21px;
}
  .footer-address__tittle:not(:last-child){
        margin-bottom: 8px;
  }
.footer-background {
  background: #2f303a;
}

.footer-logo__link {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--background-color);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
  }
}

.footer-logo__web {
  color: var(--accent-color);
}

.footer-address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--transition);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.address-link {
  color: var(--background-color);
}

.footer-address__list {
  min-width: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
  }
}

.footer-btn__container {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.footer-btn__icon {
  position: relative;
  left: 155px;
  top: 12px;
}

.footer-btn {
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 29px;
  background-color: var(--accent-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0;
  position: absolute;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.lable-input__container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
    display: flex;
    align-items: flex-start;
  }
}

.lable-input__lable {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.lable-input__input {
  outline: none;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @media screen and (min-width: 1200px) {
    height: 252px;
    width: 1200px;
    display: flex;
    align-items: flex-end;
  }
}

.footer-logo-link__container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 15px;
  }
}

.footer-logo__container {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer-field__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    width: 570px;
  }
}
.footer-field__form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
  }
}
.footer-link__container {
  margin-bottom: 60px;
}
