 .header-adress-nav__container {
   display: flex;
   width: 100%;
   position: absolute;
   top: 0;

   @media screen and (max-width: 767px) {
  display: none;
  }

  @media screen and (min-width: 768px) {
  height: 80px;

  }
  @media screen and (min-width: 768px) {
  height: 80px;
//   padding-left: 200px;
  }
   @media screen and (min-width: 1200px) {
  height: 80px;
  padding-left: 200px;
  }
 }


    .header-adress-nav__nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--h-color);
  transition: var(--transition);
  position: relative;
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
  }

      
    .current {
        color: var(--accent-color);
    @media screen and (min-width: 768px) {
      color: var(--accent-color);
      &::after {
      content: "  ";
      display: flex;
      border-radius: 2%;
      transition: background-color 250ms linear;
      position: absolute;
      left: 0;
      bottom: -25px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
    }
  }
 
  .header-adress-nav__connect {
    height: 100%;
  @media screen and (min-width: 768px) {
 padding: 0;
 margin-left: 84px;
  }
  @media screen and (min-width: 1200px) {
 padding-top: 32px;
    padding-bottom: 32px;
 margin-left: 305px;
  }

  }
  
  .header-adress-nav__nav {
   width: 294px;
    justify-content: space-between;
    align-items: center;
    margin-left: 220px;
    padding-top: 32px;
    height: 100%;
    }
  .header-adress-nav__nav__item:not(:last-child) {
   margin-right: 50px;
  }
  
  .header-adress-nav__nav__list,
  .header-adress-nav__address-list {
    display: flex;
    justify-content: space-between;
    
  }
  .header-adress-nav__address-list {
      width: 100%;
    //   z-index: 3;
    @media screen and (min-width: 768px) {
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-right: 15px;
  }
  @media screen and (min-width: 1200px) {
  display: flex;
  flex-direction: row;
  padding: 0;
 }
}

.header-adress-nav__address-icon-mail {
   fill: currentColor;
    @media screen and (min-width: 768px) {
  margin-right: 8px;
        width: 14px;
  height: 10px;
  }
  @media screen and (min-width: 1200px) {
  margin-right: 10px;
    width: 16px;
  height: 12px;
 }
}
.header-adress-nav__address-icon-tel {
        fill: currentColor;
    @media screen and (min-width: 768px) {
   margin-right: 10px;
        width: 10px;
  height: 14px;
  }
  @media screen and (min-width: 1200px) {
  margin-right: 10px;
    width: 10px;
  height: 16px;
 }
}
  
  


  .header-adress-nav__nav__link:hover {
      color: var(--accent-color);
  }
  
  .header-adress-nav__address-link {
    font-weight: 500;
   letter-spacing: 0.02em;
  color: var(--paragrapf-color);
  display: flex;
  align-items: center;
  transition: var(--transition);
  &:hover, &:focus {
  color: var(--accent-color);
}
 @media screen and (min-width: 768px) {
  font-size: 12px;
  line-height: 1.17;
  }
   @media screen and (min-width: 1200px) {
  font-size: 14px;
  line-height: 1.1;
  }
  }

  .header-adress-nav__address-item + .header-adress-nav__address-item {
   
        @media screen and (min-width: 768px) {
  margin-left: 0px;
  margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
  margin-left: 30px;
  margin-top: 0;
  }
      }


