.current {
 color: var(--accent-color);

  @media screen and (min-width: 768px) {
   color: var(--accent-color);
    &::after {
    content: "  ";
    transition: background-color 250ms linear;
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  }
}

.header {
  background: var(--background-color);
  border: 1px solid #ececec;
  height: 60px;
  @media screen and (min-width: 768px) {
  height: 80px;
}
}

.header__container {
    width: 100%;
    height: 60px ;
//  padding: 16px 331px 16px 15px;
padding-top: 16px;
padding-left: 15px;
position: relative;
 height: 60px;
  @media screen and (min-width: 480px) {

}
  @media screen and (min-width: 768px) {
  height: 80px;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 1200px) {
  height: 80px;
  padding-top: 24px;
  padding-bottom: 25px;
 
}
}

.header-connect {
  margin-left: auto;
  min-width: 100%;
}

.header-nav {
    margin-bottom: 0;
  @media screen and (min-width: 480px) {
   margin-bottom: 302px;
}  
 
}

.header-nav__item {
  margin-bottom: 30px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  color: var(--h-color);
  position: absolute;
//   z-index: 3;
  @media screen and (min-width: 1200px) {
padding-left: 200px;
  }
}

.header-logo__web {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);
}

.header-nav__link {
    @media screen and (min-width: 320px) {
   margin-bottom: 302px;
}  
  width: 49px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--h-color);
  transition: var(--transition);
  position: relative;
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}

.header-address__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--paragrapf-color);
  transition: var(--transition);
  &:hover, &:focus {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em
}
}


.header-address__item {
  margin-bottom: 32px;
}
.header-address__icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-modal__container, .header-modal__backdrop {
  @media screen and (min-width: 767px) {
    display: none;
  }
}


