.hero {
width: 480px;
height: 400px;
   margin-left: auto;
    margin-right: auto;
  background: #2f303a;

    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/little-pictures/Hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    width: 768px;
    height: 400px;
    background-size: cover;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/little-pictures/Hero-tab-1x.jpg)
  }
    @media screen and (min-width: 1200px) {
        // padding-left: 200px;
        // padding-right: 200px;
    width: 1600px;
    height: 100%;
        background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/little-pictures/Hero-des-1x.jpg)
  }
//   @media screen and (min-width: 1201px) {
//         // padding-left: 200px;
//         // padding-right: 200px;
//     width: 1600px;
//     height: 100%;
//         background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../../images/little-pictures/Hero3.jpg)
//   }
}



.hero__container {
  @media screen and (max-width: 480px) {
    width: 480px;
    height: 400px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 118px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 200px;
      padding-left: 204px;
      padding-right: 204px;
      padding-top: 118px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;  
    height: 600px;
    margin-left: auto;
    margin-right: auto;
       padding-top: 200px;
      padding-left: 252px;
      padding-right: 252px;
      padding-top: 200px;
  }
}

// .hero__container {
//     @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .hero__container {
//     background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../../images/little-pictures/Hero3.jpg)
//   }
// }
// }

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
//   padding-bottom: 118px;
}

.hero__btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  // @media screen and (min-width: 768px) {
  //   width: 200px;
  // }
}

.hero__title {
font-weight: 900;
font-size: 26px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--background-color);
margin-bottom: 30px;
@media screen and (min-width: 1200px) {
 font-size: 44px;
line-height:1.36;
  }


}


