body {
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragrapf-color);
//   display: flex;
//   justify-content: center;
//   box-sizing: border-box;
  width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}