.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-facebook-1 {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-instagram-2 {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-linkedin-1 {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-twitter-1 {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-facebook {
  width: 32px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-instagram {
  width: 32px;
  height: 32px;
  background-position: -48px -48px;
}
.icon-twitter {
  width: 32px;
  height: 32px;
  background-position: -96px -48px;
}
.icon-linkedin2 {
  width: 32px;
  height: 32px;
  background-position: -144px -48px;
}

